body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(324deg, rgba(24, 24, 24, 0.685) 0%, rgba(112, 112, 112, 0.675) 150%) !important;
}

.my-bg-1{
  background: linear-gradient(324deg, rgba(177,0,114,1) 0%, rgba(0,185,99,1) 100%);
}

.my-bg-2{
  background: linear-gradient(324deg, rgba(255,0,164,1) 0%, rgba(0,232,255,1) 100%);
}
.my-bg-2i{
  background: linear-gradient(324deg, rgba(255,0,164,1) 0%, rgba(0,232,255,1) 100%) !important;
  transition: all 1s;
}
.my-bg-2i:hover{
  background: linear-gradient(162deg, rgba(255,0,164,0.9) 0%, rgba(0,232,255,0.9) 250%) !important;
}

.clr1{
  color: linear-gradient(324deg, rgba(255,0,164,1) 0%, rgba(0,232,255,1) 250%) !important;
}